.root{
    -fx-background-color: darkgray;
    -fx-font-family: monospace;
}
.root1{
    -fx-background-color: darkslateblue;
}

#mob
{
    -fx-background-color: black;
    -fx-color: red;
}
#men1{
	-fx-background-color: black;
}
#labelN
{
    -fx-color: red;
}

#mob1{
	-fx-text-inner-color: red;
}